<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kungreat.flybbs.mapper.DetailsTextMapper">
  <resultMap id="BaseResultMap" type="cn.kungreat.flybbs.domain.DetailsText">
    <id column="id" property="id" />
    <result column="is_adoption" property="isAdoption" />
    <result column="like_number" property="likeNumber" />
    <result column="port_id" property="portId" />
    <result column="user_account" property="userAccount" />
    <result column="create_data" property="createData" />
    <result column="delete_flag" property="deleteFlag" />
    <result column="details_text" property="detailsText" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ${tableName}
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.kungreat.flybbs.domain.DetailsText" useGeneratedKeys="true">
    insert into ${tableName} (like_number,is_adoption ,port_id,
      user_account, create_data, delete_flag, 
      details_text)
    values (0, #{isAdoption},#{portId},
      #{userAccount}, #{createData}, 0,
      #{detailsText})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.kungreat.flybbs.domain.DetailsText">
    update ${tableName}
    set
      details_text = #{detailsText,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, is_adoption, like_number, port_id, user_account, create_data, delete_flag, 
    details_text
    from ${tableName}
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, is_adoption, like_number, port_id, user_account, create_data, delete_flag, 
    details_text
    from ${tableName}
  </select>
</mapper>