<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kungreat.flybbs.mapper.SelectChildrensMapper">
  <resultMap id="BaseResultMap" type="cn.kungreat.flybbs.domain.SelectChildrens">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="port_title" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  </resultMap>

  <select id="selectByParentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, port_title, parent_id
    from select_childrens
    where parent_id = #{0}
  </select>

</mapper>